.mt-150 {
    margin-top: 150px;
}
.ta-s {
    text-align: start;
}
.ml-a {
    margin-left: auto;
}
.b {
    border: 2px solid black !important;
}
.df {
    display: flex;
}
.mb-15 {
    margin-bottom: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.done {
    background: khaki;
}
.modalWindow {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
    background: aliceblue;
    padding: 20px;
}
.description {
    height: 100px;
    resize: none;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.w-50 {
    width: 50%;
}
.openModal {
    position: relative;
    background: #61dafb;
}