.done {
    color: green;
}
.description {
    height: 100px;
    resize: none;
}
.body-disable {
    background: azure;
    opacity: 0.7;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modalWindow {
    width: 600px;
    min-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-10%);
    z-index: 100;
    background: aliceblue;
    padding: 20px;
    flex-direction: column;
}
.red {
    color: red;
}